body {
    height: 100%;
    background-color: #F4F4F4;
}
ul, li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
ul li a {
    padding: 3px;
    color: #3C3C3C;
    border-radius: 5px;
    background-color: #CCCCCC;
}
.btn {
    color: gray;
    background-color: #F4F4F4;
}
.btn:hover {
    color: gray;
    background-color: #CCCCCC;
}
footer {
    width: 100%;
    color: white;
    padding: 50px 5%; /* Height border */
    text-align: left;
    position: absolute; /* Always on top */
    box-sizing: border-box;
    background-color: #272727;
    font: normal 15px sans-serif;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
footer .footer-copyright p {
    font-size: 15px;
}
footer .footer-pages {
    padding: 0;
    color: white;
    font-size: 20px;
    margin: 0 0 10px;
    font-weight: bold;
    transition: ease .25s;
}
footer .footer-pages a {
    line-height: 1.5;
    transition: ease .25s;
    text-decoration: none;
    display: inline-block;
}
footer .footer-social-media {
    float: right;
    margin-top: 5px;
    max-width: 180px;
}
footer .footer-social-media a {
    width: 35px;
    height: 35px;
    color: white;
    font-size: 20px;
    margin-left: 3px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    transition: all .25s;
    display: inline-block;
    background-color: #272727;
}
footer .footer-social-media a:hover {
    transform: scale(1.1); 
    -webkit-transform: scale(1.1);
}